body
{
	display: grid;
	grid-template-columns: 20% 60% 20%;
	grid-template-rows: auto;
	grid-template-areas: "header header header"
	                     "nav main aside"
	                     "footer footer footer"
}
header
{
	background-color: blue;
	color: white;
	padding: 20px;
	grid-area: header;
}

nav
{
	background-color: yellow;
	grid-area: nav;
}
main
{
	background-color: darkblue;
	color: white;
	grid-area: main;
}
aside
{
	background-color: lightgreen;
	grid-area: aside;
}
footer
{
	background-color: darkgreen;
	color: white;
	grid-area: footer;
}